/*------------------------------------*\
    #RESET
\*------------------------------------*/
/**
 * Use border box on all elements
 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  max-width: 1280px;
  margin: 0 auto; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

[role=main] {
  flex: 1; }

/*------------------------------------*\
    #MIXINS - BEM
\*------------------------------------*/
/*
/// BEM mixin example
/// uncomment block to view compiled output

@include b('block-wrapper') {
background: red;

    @include e('header') {
    background: green;
    }

    @include m('excerpt') {
    background: blue;

        &:hover {
        background: yellow;
        }

    }

}


// Output
// Elements are delimited with two (2) underscores (__), and Modifiers are delimited by two (2) hyphens (--).

.block-wrapper { //block
  background: red;
}

.block-wrapper__header { //element
  background: green;
}

.block-wrapper--excerpt { //modifier
  background: blue;
}

.block-wrapper--excerpt:hover { //modifier
  background: yellow;
}
*/
/*------------------------------------*\
    #BLOCKS
\*------------------------------------*/
/**
 * 1) Blocks are collections of text and/or images/media working together as a unit.
 */
/*------------------------------------*\
	#HERO BLOCK
\*------------------------------------*/
.hero {
  padding: 30px 30px 30px 60px;
  align-items: center;
  background: black;
  background-position: right;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 15em; }
  @media only screen and (max-width: 1000px) {
    .hero {
      padding: 10px; } }

.hero--height-extrasmall {
  min-height: 15em; }

.hero--height-small {
  min-height: 25em; }

.hero--height-medium {
  min-height: 30em; }

.hero--height-large {
  min-height: 35em; }

.hero-content {
  max-width: 80em;
  width: 100%;
  text-align: left;
  padding: 20px;
  border-radius: 3px;
  color: white;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7); }
  .hero-content--width-small {
    max-width: 30em; }
  .hero-content--width-medium {
    max-width: 45em; }
  .hero-content--width-large {
    max-width: 60em; }
  .hero-content--margin-center {
    margin: auto;
    position: relative;
    top: 20px; }
    @media only screen and (max-width: 1000px) {
      .hero-content--margin-center {
        text-align: left; } }
    @media only screen and (max-width: 768px) {
      .hero-content--margin-center {
        max-width: fit-content;
        margin: 20px !important;
        max-width: none;
        width: auto; } }

.hero--split {
  position: relative;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-color: gray; }
  @media only screen and (max-width: 1000px) {
    .hero--split {
      background-size: cover; } }
  .hero--split .hero-content {
    height: 100%;
    position: absolute;
    left: 0px;
    width: 50%;
    max-width: initial;
    text-align: left;
    padding: 20px; }
    @media only screen and (max-width: 1000px) {
      .hero--split .hero-content {
        width: 100%;
        position: static; } }
